$color-text: #333;
$color-light: #f2f2f2;
$color-border: #777;
$color-bg: #fff;

$font-base: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "Meiryo", sans-serif;

$bp-tablet: 1024px;
